
	.cardWrap
		flex 1 0 fit-content
		display flex
		flex-direction column
		justify-content flex-start
		align-items strench
		width 480px
		font-size 1.2rem
		border none
		margin 33px 16px 15px 16px
		background-color #FFFFFF
		border 1px solid #0081DC
		
		& .cardHead
			flex 1 0 fit-content
			display flex
			flex-direction row
			justify-content strench
			align-items center
			font-weight 600
			border-bottom 1px solid rgb(216, 216, 216)
			background-color none
			& .fa-stack
				font-size 1rem
				padding 16px
				 color #A8CEF1
		
		& .cardBody
			flex 1 0 fit-content
			display block
			height 140px
			padding 10px 20px
		
		& .cadrBody-gender
			flex 1 0 fit-content
			display flex
			flex-direction row
			justify-content flex-end
			align-items center
			background-color $lime

			
		
.btnNext
	background-color #FFFFFF
	border: 1px solid rgb(131, 138, 154)
	color: rgb(131, 138, 154);
	margin: 30px 0px 0px 0px;
	padding: 20px 27px 20px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	trans(0.1s)
