
	.cardWrap
		flex 1 0 fit-content
		display flex
		flex-direction column
		justify-content flex-start
		align-items strench
		width 480px
		font-size 1.2rem
		border none
		margin 33px 16px 15px 16px
		background-color #FFFFFF
		border 1px solid #0081DC
		&.close
			margin 5px 16px 15px 16px
			background-color rgb(216, 216, 216)
			border 1px solid #9FA2A4			
		
		& .cardHead
			flex 1 0 fit-content
			display flex
			flex-direction row
			justify-content strench
			align-items center
			font-weight 600
			border-bottom 1px solid rgb(216, 216, 216)
			background-color none
			&.close
				font-weight 400
				font-size 1rem
			& .fa-stack
				font-size 1rem
				padding 16px
				color #A8CEF1
				&.close
					color #9FA2A4
			
			
		
		& .cardBody
			flex 1 0 fit-content
			display block
			height 140px
			padding 10px 20px
		
		& .cadrBody-gender
			flex 1 0 fit-content
			display flex
			flex-direction row
			justify-content flex-start
			align-items center
			color rgb(69, 74, 87)
			font-weight 400
			font-size 0.975rem
			margin 10px 0 42px 42px
			
		& .cadrBody-radio
			display flex
			flex-direction row
			justify-content space-between
			align-items center
			margin 0 0 0 16px 

		& .ageSection
			display flex
			flex-direction row
			justify-content flex-start
			align-items center
			margin 10px 0 42px 42px
			#ageInput
				border 0
				shadow-level(0)
				border-bottom 2px solid #3BA4EE
				margin 0 0 0 16px
				text-align center
				font-size 1rem
				width 75px
				line-height 40px
				&.warning
					border-bottom 2px solid rgb(232, 146, 110)
		
		#male, #female
			margin  0 5px 0 0	

	.btnNext
		background-color #FFFFFF
		border: 1px solid rgb(131, 138, 154)
		color: rgb(131, 138, 154);
		margin: 30px 0px 0px 0px;
		padding: 20px 27px 20px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		cursor: pointer;
		trans(0.1s)
