.btnCodition
	background-color #FFFFFF
	border: 1px solid #0081DC
	color: rgb(131, 138, 154);
	margin: 10px 0px 1px 0px;
	padding: 18px 15px
	text-decoration: none;
	display flex
	font-size: 16px;
	cursor: pointer;
	color #0081DC

	.btnTXT
		flex 1 0 
		display flex
		flex-direction row
		justify-content space-between
		
.confirmCard
	display flex
	flex-direction row
	justify-content space-between
	align-items strench
	margin 0px 18px -1px 17px
	padding 4px 15px
	border: 1px solid rgb(107, 183, 238)
	background-color #FFFFFF
	text-align left

.condRemoveWrap
	display flex
	flex-direction row
	justify-content center
	align-items center

.condTitle
	font-weight 600
	color #000000
	
.condMe
	color rgb(131, 138, 155)
	font-size 0.775rem

.condRemove
	font-size 0.875rem
	color #F14824
	cursor pointer
	&:hover
		color #0081DC
	
.condCross
	color #0081DC
	font-size 1.8rem
	cursor pointer

.condAdd
	margin 20px 0px 10px 0
	color #0081DC
	font-size 0.875rem
	
	
 	