.btnCodition
	background-color #FFFFFF
	border: 1px solid #0081DC
	color: rgb(131, 138, 154);
	margin: 10px 0px 1px 0px;
	padding: 18px 15px
	text-decoration: none;
	display flex
	font-size: 16px;
	cursor: pointer;
	color #0081DC

	.btnTXT
		flex 1 0 
		display flex
		flex-direction row
		justify-content space-between