.docSearch
	flex 1 0 fit-content
	color rgb(131, 138, 154)

.drgInputWrap
	flex 1 0 fit-content
	align-self center
	display flex
	flex-direction row
	justify-content flex-start
	align-items center
	font-size 1.2rem
	border none
	height 37px
	margin 0px 0px 10px 0px
	padding 0 10px 0 16px
	border 1px solid transparent
	background-color #FFFFFF
	overlay hidden
	&.active
		border 1px solid #0081DC