.tabbed-body
	display flex
	flex-direction row
	align-items strench
	width 992px
	height 1000px

.tab-content
	order 2
	display flex
	flex-direction column
	justify-content flex-start
	align-items center
	width 100%
	background-color rgba(255, 255, 255, 0.9)

.group-nav
	flex 1 0 249px
	order 1
	display flex
	flex-direction column
	justify-content flex-start
	background-color rgba(69, 74, 87, 0.9)
