.formWrap
	flex 1 0 fit-content
	display flex
	flex-direction column
	justify-content flex-start
	align-items center
	font-size 1rem
	font-weight 400
	text-align center
	color rgba(69, 74, 87, 1)
	margin 30px 20px
	width 470px
	height 100%
	background-color transparent
	